<section class="quickstart advertisment-sidebarbox">
<p class="title" data-section-title="">
<a class="unclickable" href="http://fiona-dev.uni-frankfurt.de/54423261/Testseiten#" onclick="return false;">
<span></span>
<i class="fa fa-angle-down"></i>
<i class="fa fa-angle-right"></i>
</a>
</p>
<div class="content" data-section-content="">
  <%= scrivito_tag :div, widget, :content %>
</div>
</section>
