<div class="teaser-outer-wrap">
  <div class="teaser-headline">
    <%= scrivito_tag :p, widget, :subtitle %>
    <%= scrivito_tag :h2, widget, :title %>
  </div>
  <div class="teaser-inner-wrap">
    <%= scrivito_tag :div, widget, :column1 %>
  </div>
</div>
