
<!-- box_two_columns -->
<div class="teaser-outer-wrap box-two-columns">
  <div class="teaser-headline">
    <%= scrivito_tag :p, widget, :subtitle %>
    <%= scrivito_tag :h2, widget, :title %>
  </div>
  <div class="teaser-inner-wrap ">
    <div class="row equal">
      <!-- render teaser list -->


      <!-- image_top_text_link -->

      <div class="medium-6 small-12 columns" style="height: 369px;">
        <%= scrivito_tag :div, widget, :column1 %>
      </div>
      <!-- /image_top_text_link -->


      <!-- image_top_text_link -->

      <div class="medium-6 small-12 columns" style="height: 369px;">
        <%= scrivito_tag :div, widget, :column2 %>
      </div>
      <!-- /image_top_text_link -->


    </div>
  </div>
  <!-- /box_two_columns -->
</div>
