<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <i class="icon editing-icon-list"></i>
  </div>

  <div class="title">Page</div>

  <div class="description">Create a new page</div>
</div>
