<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <i class="icon editing-icon-headline"></i>
  </div>

  <div class="title">Headline</div>

  <div class="description">Create a new headline widget</div>
</div>
