<section class="quickstart sidebar-teaser-important-notice">
<p class="title" data-section-title="">
<a class="unclickable" href="http://fiona-dev.uni-frankfurt.de/54423261/Testseiten#" onclick="return false;">
  <%= scrivito_tag :span, widget, :title %>
<i class="fa fa-angle-right"></i>
<i class="fa fa-angle-down"></i>
</a>
</p>
<div class="content" data-section-content="">
<div class="arrow-up"></div>
<div class="important-notice sidebar-teaser-boxBlue">
<%= scrivito_tag :div, widget, :content %>
</div>

<div class="clear"></div>
</div>
</section>
