<div class="row">
  <div class="col-md-<%= widget.column1_width %>">
    <%= scrivito_tag :div, widget, :column1_content %>
  </div>

  <div class="col-md-<%= widget.column2_width %>">
    <%= scrivito_tag :div, widget, :column2_content %>
  </div>
</div>
