<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <i class="icon editing-icon-2cols"></i>
  </div>

  <div class="title">Two Column Widget</div>

  <div class="description">Place content in two different vertical columns</div>
</div>
