<%= content_tag :div, id: "blog", data: { path: @obj.path } do %>
  <%= scrivito_tag :h1, @obj, :title %>

  <div class="blog_posts">
    <%= render partial: 'post', collection: @blog_posts %>
  </div>
<% end %>
