<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <i class="icon editing-icon-list"></i>
  </div>

  <div class="title">Blog</div>

  <div class="description">Create a new blog with several blog entries</div>
</div>
