@import "bootstrap-sprockets";
@import "bootstrap";
@import "scrivito";

.image-widget { max-width: 100% }

/* Sticky footer */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;

  & > .container-fluid {
    margin-bottom: 20px;
  }
}

.footer {
  height: 60px;
  background-color: #f5f5f5;

  p.text-muted { margin: 20px 0; }
}

.scrivito_editing_active .edit-inline { display: inline-block; }

.scrivito_editing_active .image-replace-dropzone {
  height: 75px;
  line-height: 75px;
  text-align: center;
  vertical-align: middle;
  border: 2px dashed #666;
  color: #666;
}

i.icon.glyphicon { font-size: 65px; }
