@import "fiona7";
@import "font-awesome";
@import "uniffm";

/* line 5, /Users/tprzedmojski/Projects/Fiona7/gem/submodules/example_app/app/assets/stylesheets/uniffm.css */
.sidebar.variation_2 .section-container > section .title span {
  font-size: 16px;
  font-weight: normal;
  font-family: "Times New Roman, serif";
  text-transform: uppercase;
  float: left;
}
