<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <i class="icon editing-icon-image"></i>
  </div>

  <div class="title">Image</div>

  <div class="description">Add an image to the page</div>
</div>
